.main{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    top:0%;
    left:0%;
}
.timerdiv{
    margin-top: 20%;
    color: aliceblue;
    margin-left: 33%;
    width:50%;
    height: 40%;
    padding: 1%;
    border-radius: 25px;
    font-weight: 800;
}
.CD{
    text-align: center;
    margin-top: 1%;
    width: 500px;
    background-color: white;
    color: black;
}
#countdown{
    font-size: 80px;
}
.start{
    background-color: #32de84;
    font-size: 25px;
    height: 50px;
    width: 500px;
    border: none;
    margin-top: 1%;
    transition: 0.5s ease;
}
.start:hover{
    cursor: pointer;
    background-color: black;
    color:#32de84;
    border-color: #32de84;
    border-width: 5px;
}