body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-image: url('background.png'); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    top:0%;
    left:0%;  
}
#trigger{
    width:300px;
    height: 400px;
    background-color: aliceblue;
    position: absolute;
    top:80%;
}
.input {
    width:30%;
    background-color: aqua;
    height: 30%;
    position: absolute;
    top:20%;
    left:35%;
    visibility: hidden;
}
.input input{
    width:90%;
    padding: 2%;
    margin: 2.5%;
}
.input button{
    margin: 2.5%;
    padding: 2%;
}
#trigger{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.logo-image{
    position: absolute;
    top: 8px;
    right: 46px;
    height: 140px;
    width: 140px;
}
.vit-image{
    position: absolute;
    top: 8px;
    left: 46px;
    height: 100px;
    width: 250px;
}
.sprint-image{
  

    height: 300px;
    width: 50%;
}
.front-container{
  display: flex;
  position: relative;
  top: 15%;
  flex-direction: row;
  justify-content: center;
}

.Text{
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-self: center;
    font-size: 90px;
    text-align: center;
    margin-top: 0%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 243, 243);

}

.title-text{
  font-size: 50px;
  color: rgb(255, 243, 243);
}

#StartsIn{
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 15%;
    font-size: 60px;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 243, 243);
    display: flex;
}
.st-in{
  font-size: 50px;
  font-weight: 100;
}
.st-out{
  font-size:50px;
  font-weight: 100;
}
/* #Endcountdown{
  padding-top: 200px;
} */
#EndsIn{
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: 15%;
  font-size: 90px;
  font-weight: 900;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 243, 243);
  display: flex;
  visibility: hidden;
}
.qr1{
  margin-top: 7%;
  width:250px;
  height:250px;
  position: absolute;
  top:35%;
  left:5%;
}
.qr2{
  margin-top: 7%;
  width:250px;
  height:250px;
  position: absolute;
  top:35%;
  left:70%;
}
